<div class="wrapper">
  <div class="masonry">
    <div class="masonry-item" *ngFor="let card of cards">
      <div class="card p-4 rounded-lg h-full">
        <h3 class="text-transparent bg-clip-text bg-gradient-to-l from-yellow-300 via-green-400 to-green-500 font-semibold text-lg leading-snug">
          {{ card.title }}
        </h3>
        <p class="font-light text-base">{{ card.content }}</p>
        <p class="font-light text-xs text-gray-400 mt-3">
          {{ myDate | timeAgo }}
        </p>
      </div>
    </div>
  </div>
</div>
