
.card {

  background-color: #1e1e1e;
  color: #f0f0f0;
  padding: 16px;
  border-radius: 36px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;

}

.card:hover {
  transform: scale(1.02);
}

.left {
  float: left;
}

.right {
  float: right;
}
