.focused {
  background: linear-gradient(black, black) padding-box,
    linear-gradient(211.24deg, #FFF179 18.98%, #FFF982 23.13%, #67D6A8 81.22%) border-box;
  border-radius: 50em;
  border: 1px solid transparent;
}
